html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body, #root {
    height: 100vh;
    margin: 0;
    background-color: #ccc;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 3rem;
    grid-template-columns: 1fr;
    height: 100%;
}
body, select, input, textarea, button {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    grid-area: header;
    background-color: #203040;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
header a {
    color:#fff;
    text-decoration: none;
}
a:hover {
    color: #ec0a0a;
}
a {
    text-decoration: none;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #203040;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
}
.main {
    flex: 3 60rem;
}
.sidebar {
    flex: 1 20rem;
}

/* Products page */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.product-card {
    background-color: white;
    margin: 0.2rem;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 50rem;
    width: 40rem;
    border: 2px solid rgb(55, 190, 179);
}

.product p {
    text-align: center;
    background-color: rgb(55, 190, 179);
    padding: 1rem;
    border-radius: 1rem;
}
.products li {
    flex: 0 1 29rem;
    /* height: 50rem; */
    /* width: 35rem; */
    padding: 1rem;
    margin-top: 0.5rem;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product img {
    max-width: 39rem;
    max-height: 35rem;
}
.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price div,
.product-price button {
    text-align: center;
    flex: 1;
}
.product-price div {
    font-size: 2rem;
}

.button {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 0.5rem;
}
.button.primary {
    background-color: #f0c040;
}
.button:hover {
    border: 0.1rem #808080 solid;

}

/* Filter Page */
.filter {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 0.1rem;
}
.filter select {
    border-radius: 0.5rem;
    padding: 0.2rem;
    outline-style: none;
}
.filter div {
    flex: 1;
}